name: Build Pull Request

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build bibliothek
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
